In [17]:
import requests
import pandas as pd

In [18]:
req = requests.get('https://brasil.io/api/dataset/covid19/caso/data/?state=PI&place_type=city&is_last=true')
content = req.json()

In [19]:
name = []
id = []
casos = []
obitos = []

In [20]:
for city in content['results']:
    name.append(city['city'])
    id.append(city['city_ibge_code'])
    casos.append(city['confirmed'])
    obitos.append(city['deaths'])

In [21]:
dataset = pd.DataFrame(
    {
     'name': name,
     'id': id,
     'casos':casos,
     'obitos':obitos
     })

dataset

                    name       id  casos  obitos
0            Água Branca  2200202     26       2
1             Alto Longá  2200301      1       0
2                  Altos  2200400     15       0
3   Alvorada do Gurguéia  2200459      1       0
4               Amarante  2200509      3       0
..                   ...      ...    ...     ...
92                Uruçuí  2211209     26       1
93      Valença do Piauí  2211308      1       1
94         Várzea Grande  2211407      1       0
95           Vera Mendes  2211506      2       0
96    Vila Nova do Piauí  2211605      2       0

[97 rows x 4 columns]

In [22]:
dataset.to_csv('dados_piaui_brasil-io.csv', index=False, header=False)