**SCRIPT PARA GERAR UM CSV COM OS DADOS DE SÉRIE HISTÓRICA DE TODOS OS MUNICÍPIOS DO PIAUÍ**
##### Fonte de dados: https://brasil.io/api/dataset/covid19/caso/data/ #####
Francisco Alysson

In [0]:
import requests
import json 
import pandas as pd
from google.colab import files

REQUISIÇÃO PARA API APLICANDO OS FILTROS NECESSÁRIOS

In [0]:
resp = requests.get('https://brasil.io/api/dataset/covid19/caso/data/?format=json&state=PI&place_type=city')
resp_json = json.loads(resp.text)
resp_json

CONVERSÃO DO JSON OBTIDO EM DATAFRAME

In [0]:
resultados = resp_json['results']
df_serie_pi = pd.DataFrame(resultados)

DELIMITAR O DATAFRAME A CONTER SOMENTE AS COLUNAS DESEJADAS

In [39]:
df_serie_pi = df_serie_pi[["city_ibge_code","city","date","confirmed","deaths"]]
df_serie_pi

    city_ibge_code                  city        date  confirmed  deaths
0          2200202           Água Branca  2020-05-07         13       0
1          2200400                 Altos  2020-05-07          9       0
2          2200459  Alvorada do Gurguéia  2020-05-07          1       0
3          2200509              Amarante  2020-05-07          3       0
4          2200608      Angical do Piauí  2020-05-07          3       0
..             ...                   ...         ...        ...     ...
995        2202208           Campo Maior  2020-04-20          3       0
996        2202505               Caracol  2020-04-20          1       0
997        2202752   Colônia do Gurguéia  2020-04-20          1       0
998        2203305        Demerval Lobão  2020-04-20          1       0
999        2203701           Esperantina  2020-04-20          3       0

[1000 rows x 5 columns]

RENOMEAR AS COLUNAS

In [40]:
df_serie_pi.rename(columns={'city_ibge_code':'idIBGE','city':'cidade','confirmed':'confirmados','deaths':'obitos'}, inplace=True)
df_serie_pi

      idIBGE                cidade        date  confirmados  obitos
0    2200202           Água Branca  2020-05-07           13       0
1    2200400                 Altos  2020-05-07            9       0
2    2200459  Alvorada do Gurguéia  2020-05-07            1       0
3    2200509              Amarante  2020-05-07            3       0
4    2200608      Angical do Piauí  2020-05-07            3       0
..       ...                   ...         ...          ...     ...
995  2202208           Campo Maior  2020-04-20            3       0
996  2202505               Caracol  2020-04-20            1       0
997  2202752   Colônia do Gurguéia  2020-04-20            1       0
998  2203305        Demerval Lobão  2020-04-20            1       0
999  2203701           Esperantina  2020-04-20            3       0

[1000 rows x 5 columns]

GERAR O CSV E BAIXÁ-LO

In [0]:
df_serie_pi.to_csv('serie_hist_munic_pi.csv')
files.download('serie_hist_munic_pi.csv')